@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

body {
    font-family: 'Indie Flower';
}

#myTable {
    background-color: #3af6cd;
    font-size: 1.2rem;
    text-align: center;
    border-collapse: collapse;
}

th, td {
    border: 2px solid white;
}

#myTitle, th[scope="col"], th[scope="row"] {
    color: #fa0d0d;
    font-size: 1.4rem;
    text-align: center;
}

#myTable caption {
    caption-side: bottom;
}

td[rowspan="2"]:last-child {
    background-color: #7ebde9;
}