* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.heading {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 150px;
}

.heading h2 {
    font-family: sans-serif;
}

.footer h4 {
    font-size: 1rem;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}

.services h4 {
    padding-bottom: 20px;
}

.social-media h4 {
    padding-bottom: 20px;
}

.links h4 {
    padding-bottom: 20px;
}

.details h4 {
    padding-bottom: 20px;
}

.mobile {
    margin-top: 20px;
}

.mail {
    margin-top: 20px;
}

.footer footer {
    text-align: center;
    padding-bottom: 25px;
}

.footer footer hr {
    padding-top: 25px;
}

.footer a {
    text-decoration: none;
    color: #000;
}

.footer p {
    padding: 10px 0px;
}